<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>表格</title>
<style>
	.table-wuxiaofa{font-size: 14px;
	                text-align: center;}
	.table-wuxiaofa-wu{text-align: center;
	                   font-size: 14px;
	font-family: SimSun ;}
 td{padding:10px; background-color: #fff;}
  tr{padding:0px 0px 0px 0px; background-color: #fff;}
  th{padding: 10px;background-color: #fff;}
</style>
<script>
function btnPrintClick(){ 
   var temp = document.createElement("form");
  temp.action ="";
  temp.method = "post";
  temp.style.display = "none";
    var opt = document.createElement("textarea");
    opt.name = "x";
    opt.id="opt"
    temp.appendChild(opt);
  document.body.appendChild(temp);
  document.getElementById("opt").innerHTML=document.documentElement.innerHTML;
  //console.log(document.documentElement.innerHTML);
  temp.submit();
  return temp;
    }  
</script>
</head>

<body>
<input id="btnPrint" value="生成Word"  type="button" onclick="btnPrintClick()"/></input>
 <table class="table-wuxiaofo" width="640px" border="0" cellspacing="1" align="center" style="background-color: #000;border:none;">
<div style="text-align: center;font-family: SimSun"><h2 style="text-align: center;">浙江农林大学中层干部</br/>学习培训情况登记表</h2>
 <p style="font-size: 22px;"> ( &nbsp&nbsp&nbsp 年度)</p>
 
 <p style="font-size: 22px;">姓名___________________&nbsp职务___________________</p>
 
 </div>
 <thead>
 	<th>序号</th>
 	<th>起止日期</th>
 	<th>培训内容</th>
 	<th>培训形式</th>
 	<th>培训时间</th>
 </thead>
<tr class="table-wuxiaofa-wu">
	 <td  ><p><b>1</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>2</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
     </tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>3</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 </tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>4</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td  ><p><b>5</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>6</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>7</b></p></td>
	<td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>8</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>9</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>10</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>11</b></p></td>
	<td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
    <tr class="table-wuxiaofa-wu">
	 <td ><p><b>12</b></p></td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	 <td >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
	</tr>
   </table>
    <div style="text-align: center; font-size: 14px;"  ><span>说明：学习培训情况写不下去可继续添加；网络培训情况由组织部汇总。</span></div>
    </body>
</html>
